.page-side-bar {
  background-color: #F4F0E9;
}

.main-menu-item div {
  margin-top: 0.4rem;
}

a, a:visited, a.page-link.active, a.page-section-link {
  color: #3AAA35;
}

a.page-link {
  color: #131d29;
}

.main-menu-item ul {
  margin-top: 0.4rem;
}

.main-menu-item li + li {
  margin-top: 0.4rem;
}
