<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  {%- block site_meta %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page and page.is_homepage %}<meta name="description" content="{{ config.site_description }}">{% endif %}
  {% if config.site_author %}<meta name="author" content="{{ config.site_author }}">{% endif %}
  {% if page and page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}">{% endif %}
  <link rel="icon" sizes="any" type="image/svg+xml" href="/img/icon.svg"/>
  {% if config.site_favicon %}<link rel="shortcut icon" href="{{ config.site_favicon|url }}"/>
  {% else %}<link rel="shortcut icon" href="{{ 'img/favicon.ico'|url }}"/>{% endif %}
  {%- endblock %}

  {%- block htmltitle %}
  <title>{% if page and page.title and not page.is_homepage %}{% if page.parent and page.parent.title %}{{page.parent.title}}: {% endif %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
  {%- endblock %}

  {%- block styles %}
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="{{ 'css/main.css'|url }}" />
  {%- for path in config['extra_css'] %}
  <link href="{{ path|url }}" rel="stylesheet" />
  {%- endfor %}
  {%- endblock %}

  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.js"
    integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="
    crossorigin="anonymous">
  </script>
  <script src="{{ 'js/main.js'|url }}"></script>
</head>

<body>
  <div class="page-container">
    <div class="page-side-bar">
      {%- block site_name %}
        <header id="top" class="site-header">
          <a href="{{ nav.homepage.url|url }}" class="site-title">
            <img src="{{ 'img/icon.svg'|url }}" width="30" height="30" alt="Pandosearch" title="Pandosearch"/>
          </a>
        </header>
      {%- endblock %}

      {%- block site_nav %}
        <nav class="main-nav">
          <ul class="main-nav-menu">
            {%- for nav_item in nav %}
              <li class="main-menu-item">
                {%- if nav_item.children %}
                  <div>{{ nav_item.title }}</div>
                  <ul>
                    {%- for sub_nav_item in nav_item.children %}
                      <li>
                        <a href="{{ sub_nav_item.url|url }}" class="page-link {% if sub_nav_item.active%}active{% endif %}">{{ sub_nav_item.title }}</a>
                      </li>
                      {%- if sub_nav_item.active %}
                        <ul>
                          {%- for toc_item in sub_nav_item.toc.items[0].children %}
                            <li>
                              <a class="page-section-link" href="{{ toc_item.url }}">{{ toc_item.title }}</a>
                              {%- if toc_item.children %}
                                <ul>
                                {%- for toc_sub_item in toc_item.children %}
                                  <li>
                                    <a class="page-section-link" href="{{ toc_sub_item.url }}">{{ toc_sub_item.title }}</a>
                                  </li>
                                {%- endfor %}
                                </ul>
                              {%- endif %}
                            </li>
                          {%- endfor %}
                        </ul>
                      {%- endif %}
                    {%- endfor %}
                  </ul>
                {%- else %}
                  <a href="{{ nav_item.url|url }}" class="page-link {% if nav_item.active%}active{% endif %}">{{ nav_item.title }}</a>
                {%- endif %}
              </li>
            {%- endfor %}
          </ul>
        </nav>

        <div class="select-field">
          <select name="main-navigation" id="main-navigation" data-behaviour="trigger-main-nav">
            {%- for nav_item in nav %}
              {%- if nav_item.children %}
                <optgroup label="{{ nav_item.title }}">
                  {%- for sub_nav_item in nav_item.children %}
                    <option value="{{ sub_nav_item.url|url }}"{% if sub_nav_item.active %} selected{% endif %}>
                      {{ sub_nav_item.title }}
                    </option>
                  {%- endfor %}
                </optgroup>
              {%- else %}
                <option value="{{ nav_item.url|url }}"{% if nav_item.active %} selected{% endif %}>
                  {{ nav_item.title }}
                </option>
              {%- endif %}
            {%- endfor %}
          </select>
        </div>
      {%- endblock %}

    </div>

    <div class="page-content">
      <section class="wrapper">
        {# PAGE CONTENT #}
        {% block content %}
          {{ page.content }}
        {% endblock %}
      </section>

      {%- block footer %}
        <footer class="page-footer">
          <p>
            Want to know more about Pandosearch? Visit <a href="https://pandosearch.com/">pandosearch.com</a> for general product information.
          </p>
        </footer>
      {% endblock %}
    </div>
  </div>
</body>
</html>
